body {
  background-color: #f7f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  background-color: #d7d7d7d7;
}
#mainHeader {
  background-color: #cac7c7d7;
  text-align: center;
  padding: 10px;
}

.url {
  outline-style: dashed;
  outline-color: rgba(122, 15, 122, 0.533);
  font-size: 40px;
  display: inline-block;
  margin: 10px;
  padding: 5px;
}

a:link {
  color: blue;
}
a:visited {
  color: green;
}
a:hover {
  color: red;
}

.header {
  background-color: #cac7c7d7;
  text-align: center;
  padding: 10px;
}

.img {
  border-top-left-radius: #f9f99222;
  border-style: dashed;
}

.pageContent {
  text-align: center;
}

.myUL {
  display: inline-block;
  text-align: left;
}
.myOL {
  display: inline-block;
  text-align: left;
}
